<div class="sidebar close">
    <div class="sidebar-header">
        <span>Inovasi FRITD</span>
    </div>
    <div class="sidebar-content">
        <div class="menu-list">
            <a href="" class="menu">
                <i class="bi bi-house-door"></i>
                <span>Home</span>
            </a>
            <!-- <a href="" class="menu">
                <i class="bi bi-house-door"></i>
                <span>Home</span>
            </a>
            <a href="" class="menu">
                <i class="bi bi-house-door"></i>
                <span>Home</span>
            </a>
            <a href="" class="menu">
                <i class="bi bi-house-door"></i>
                <span>Home</span>
            </a> -->
        </div>
        <div class="menu-bottom">
            <a href="" class="menu">
                <i class="bi bi-door-closed"></i>
                <span>Logout</span>
            </a>
        </div>
    </div>
</div>